body {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3,
h4,
h5,
.site-title,
.site-nav {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.geist-mono {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: _font(family-heading);
    font-weight: 500;
    font-size: 80px;
    line-height: 65px !important;
    letter-spacing: -2px;
    color: _palette(accent);

    span {
        display: block;
    }
}

h2 {
    position: absolute;
    top: 21px;
    right: 22px;
    font-family: _font(family-heading);
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: right;
    color: _palette(accent);

    &.large-subheading {
        margin-top: 40px;
        font-size: 100px;
        letter-spacing: -4px;
    }
}

.dividing-line {
    margin-top: 22px;
    border-bottom: solid 6px _palette(accent);
    display: block;
    height: 6px;
    width: 330px;
}

nav {
    font-family: _font(family-heading);
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0px;
}

.list-none {
    padding-left: 0em !important;
}

.imprint {
    margin-top: 280px;
}

.sidebar-list-item {
    margin-bottom: 2px;
}

.sidebar-submenu li:first-child {
    margin-top: 2px !important;
    color: green;
}