<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Project Blog<br />
        Tangible Interaction</h1>
        <p>University of Applied Sciences Dresden</p>
      </header>
      <p>This blog serves as the documentation of the projects in the module Tangible Interaction at the University of Applied Sciences in Dresden.</p>
      <ul class="actions">
        <li><a href="https://docs.google.com/presentation/d/1dQfnnQ4p35d3vIbqroQQj-R2uSmmAal-G7cSwRrMZ7M/edit?usp=sharing" class="button big">Introduction Slides</a></li>
      </ul>      
    </div>
    <span class="image object">
      <img src="assets/images/splash-kelly-sikkema.jpg" alt="" />
    </span>
  </section>
