<head>
  <title>Tangible Interaction Project Blog</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ 'assets/fonts/inter.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ 'assets/fonts/geistmono.css' | relative_url }}" />

  <script src="{{ 'assets/js/email-protection.js' | absolute_url }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
