<!-- Sidebar -->
<nav>
    <ul class="m-0 p-0">
        {% assign sorted_pages = site.pages | sort: 'menu-order' %}
        {% for item in sorted_pages %}
        {% assign path_parts = item.url | split: '/' %}
        {% if path_parts.size == 2 and item.name == 'index.md' and item.menu-order %}
        <li class="mb-2 list-none">
            {% if page.url == item.url %}
            <a href="{{ item.url | relative_url }}" style="font-size: 28px;">[{{ item.title }}]</a>
            {% else %}
            <a href="{{ item.url | relative_url }}" style="font-size: 28px;">{{ item.title }}</a>
            {% endif %}

            {% if item.url == '/projects/' and page.url contains '/projects/' %}
            <ul class="pl-4 mt-1 mb-3">
                {% for subitem in sorted_pages %}
                {% assign sub_path_parts = subitem.url | split: '/' %}
                {% if sub_path_parts.size == 3 and subitem.name == 'index.md' and sub_path_parts[1] == 'projects' %}
                <li class="mb-1 list-none">
                    {% if page.url == subitem.url %}
                    <a href="{{ subitem.url | relative_url }}" style="font-size: 28px;">[{{ subitem.title }}]</a>
                    {% else %}
                    <a href="{{ subitem.url | relative_url }}" style="font-size: 28px;">{{ subitem.title }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
